.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
thumbs.db
*.m4a
*.pxd
tools/**/*.pdf
**/credentials/
**/*_token.json
**/*_credentials.json
*_state.json
*_state.db
.*_state.db
input/
# OS
.DS_Store
thumbs.db

# Apps
*.pxd
*.zip

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
Gemfile.lock
.bundle/
bin/

# Node modules (if using any)
node_modules/
